.exercice-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 3rem;
  align-items: stretch;
  justify-content: space-evenly;
}

.exercice-item {
  width: 50%;
  max-width: 17rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exercice-description h2 {
  font-size: larger;
  color: #ffffff;
}

.exercice-description {
  padding: 1rem;
}

.decoration {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  overflow: hidden;
}

.decoration-item {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.carre-1 {
  position: absolute;
  left: 0px;
  top: 1.7rem;
  width: 50%;
  height: 7rem;
  background: #46ffb580;
}

.exercice-item:hover .carre-1 {
  transform: translate(0.7rem, 0.7rem);
  -webkit-transform: translate(0.7rem, 0.7rem);
  -moz-transform: translate(0.7rem, 0.7rem);
  -ms-transform: translate(0.7rem, 0.7rem);
  -o-transform: translate(0.7rem, 0.7rem);
}

.carre-2 {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: -3rem;
  width: 70%;
  height: 7rem;
  background: #f9f50080;
  padding: 0.5rem 1rem;
}

.exercice-item:hover .carre-2 {
  transform: translate(-1rem, -1.5rem);
  -webkit-transform: translate(-1rem, -1.5rem);
  -moz-transform: translate(-1rem, -1.5rem);
  -ms-transform: translate(-1rem, -1.5rem);
  -o-transform: translate(-1rem, -1.5rem);
}

.carre-3 {
  position: absolute;
  top: 0;
  width: 12rem;
  height: 12rem;
  background: #f9f50080;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.exercice-item:hover .carre-3 {
  transform: translateY(-60%) rotate(45deg);
  -webkit-transform: translateY(-60%) rotate(45deg);
  -moz-transform: translateY(-60%) rotate(45deg);
  -ms-transform: translateY(-60%) rotate(45deg);
  -o-transform: translateY(-60%) rotate(45deg);
}

.cercle-1 {
  position: absolute;
  width: 7rem;
  height: 7rem;
  background: #46ffb580;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.exercice-item:hover .cercle-1 {
  transform: translateY(1rem);
}

.cercle-2 {
  position: absolute;
  top: -15%;
  left: -3%;
  width: 10rem;
  height: 10rem;
  background: #46ffb580;
  border-radius: 999px;
}

.cercle-3 {
  position: absolute;
  top: -25%;
  right: -5%;
  width: 9rem;
  height: 9rem;
  background: #f9f50080;
  border-radius: 999px;
}

.exercice-item:hover .cercle-2,
.exercice-item:hover .cercle-3 {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.carre-5 {
  position: absolute;
  width: 7rem;
  height: 7rem;
  background: #f9f50080;
  top: 0;
  right: 0;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.carre-4 {
  position: absolute;
  top: -30%;
  left: 1rem;
  width: 10rem;
  height: 10rem;
  background: #46ffb580;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}

.exercice-item:hover .carre-4 {
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
}

.exercice-item:hover .carre-5 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.titre-section {
  font-weight: bolder;
  color: #ffffff;
  font-size: xx-large;
  text-align: center;
}

.description-section {
  color: #ffffff;
  font-size: x-large;
  width: 50%;
  margin-top: 0;
}

.profile-conteneur {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
}

.profile-carte {
  width: 100%;
  max-width: 30rem;
}

.profile-carte > img:nth-child(1) {
  width: 4rem;
  position: absolute;
  z-index: -1;
  top: -1rem;
  margin-left: -2.5rem;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-header img {
  width: 100%;
  max-width: 5rem;
}

.profile-header h2 {
  font-size: x-large;
  color: #ffffff;
  margin-top: 0;
}

.profile-main ul {
  margin: 0;
  padding: 0;
}

.profile-main li {
  margin: 0;
  list-style-type: none;
}

.valeur {
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  .description-section {
    width: 100%;
  }

  .exercice-item {
    width: 100%;
  }

  .profile-header h2 {
    font-size: large;
  }
}
