* {
  font-family: NunitoRegular, sans-serif;
  font-size: large;
}

@font-face {
  font-family: NunitoRegular;
  src: url("../fonts/Nunito-Regular.ttf");
}

.inputDiv {
  margin-bottom: 2rem;
}

input {
  padding: 0.5rem 0.7rem;
  font-size: large;
  background: #ffffff66;
  border-radius: 6px;
  border: 2px solid #ffffff;
  outline: none;
  box-shadow: 0 4px 30px #0000001a;
}

input:focus {
  border-color: #443cdd;
}

.title {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: underline solid 2px;
  margin-top: 0;
}

li {
  list-style: disc;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.conteneur {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carte {
  padding: 1rem;
  background: #ffffff33;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 30px #0000001a;
  transition: all 100ms;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.carte:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.solutionTitre {
  font-size: larger;
  color: #ffffff;
  margin-bottom: 0.3rem;
  text-decoration: underline;
}

.solutionListe {
  margin-top: 0;
}

.solutionItem {
  margin-bottom: 0.5rem;
}

.solution {
  font-size: larger;
  font-weight: bold;
}

@media only screen and (max-width: 400px) {
  .conteneur {
    padding-left: 0;
    padding-right: 0;
  }

  .carte:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

nav {
  padding: 1rem 1rem;
  background: #ffffff63;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: ease 500ms;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -webkit-transition: ease 500ms;
  -moz-transition: ease 500ms;
  -ms-transition: ease 500ms;
  -o-transition: ease 500ms;
}

button {
  cursor: pointer;
}

header button {
  position: fixed;
  padding: 0;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  display: none;
  z-index: 3;

  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

header button img {
  width: 100%;
}

.navHidden {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

@media screen and (max-width: 767px) {
  header button {
    display: block;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem 2rem;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #000000;
  text-decoration: none;
  border: 1px solid #ffffff00;
  transition: all 100ms;
  border-radius: 6px;
  white-space: nowrap;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
}

nav ul li a:hover {
  background: #ffffff33;
  border-color: #ffffff;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.lien-actif {
  color: #000000;
  background: #ffffff33;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffffff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.verre {
  background: #ffffff33;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.bouton {
  font-weight: bold;
  color: #ffffff;
  padding: 0.5rem 1.2rem;
  font-size: larger;
  font-weight: bold;
  background: #ffffff33;
  border: 1px solid #ffffff;
  transition: all 100ms;
  box-shadow: 0 4px 30px #0000001a;
  display: inline-block;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.bouton:hover {
  cursor: pointer;
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

main {
  margin-top: 7rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.bg {
  position: fixed;
  z-index: -1;
  inset: 0;
  background: #443cdd;
  background: linear-gradient(160deg, #443cdd 50%, #a02df7 50%);
}

.bg-conteneur {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg-conteneur img {
  position: absolute;
  width: 5rem;
}

.bg-conteneur > img:nth-of-type(1) {
  top: 15%;
  left: 2%;
}

.bg-conteneur > img:nth-of-type(2) {
  top: 10%;
  right: 25%;
}

.bg-conteneur > img:nth-of-type(3) {
  bottom: 2%;
  right: 30%;
}

.bg-conteneur > img:nth-of-type(4) {
  bottom: 40%;
  left: 30%;
}

em {
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  nav ul {
    flex-wrap: wrap;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
}
